* {
     margin: 0px;
     padding: 0px;
}

.clearfix {zoom:1;}
.clearfix:after{
    content:'.';
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}

.clock{
   margin: 80px 25% auto 25% ;
}

.number-section{
    position: absolute;
    top:120px;
    left: 100px;
    width: 200px;
    height:50px;
    margin: 50px 25% auto 25% ;
}
.display-number {
     position: relative;
    display: inline-flex;
    list-style-type: none;
  }
.time{
    margin-left: 20px;
}
        
img {
    width: 20px;
    height: 20px;
    transform: rotateY(0deg);transition: all  0.5s ease  ;
}

.sign{
    color: red;
}

 #clockbackground {
     width: 350px;
     height: 350px;
     border-radius: 350px;
     border: solid 1px black;
     background: url('img/slide1.jpg') no-repeat red ;
     background-size: 350px 350px; 
}
